* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-inline: auto;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: black;
  padding-inline: 75px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1110px;
  padding-top: 32px;
  padding-bottom: 36px;
}

.hero a {
  padding-inline: 34px;
  text-decoration: none;
  color: #ffffff;
}

.hero a:hover {
  color: #d87d4a;
}

hr {
  color: #ffffff;
  width: 1110px;
  opacity: 20%;
  margin-bottom: 79px;
}

.geri a {
  padding-left: 165px;
  color: #000000;
  opacity: 50%;
  text-decoration: none;
}

.containerProduct1 {
  display: flex;
  align-items: center;
  padding-top: 56px;
  padding-left: 165px;
}

.product1 {
  width: 540px;
  top: 496px;
  left: 165px;
  background-color: #f1f1f1;
}

.product1 img {
  position: relative;
  padding-top: 65.5px;
  padding-inline: 95px;
  padding-bottom: 108.5px;
}

.productText {
  width: 445px;
  height: 343px;
  top: 605px;
  left: 830px;
  padding-left: 125px;
}

.productText h5 {
  color: #d87d4a;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.12px;
  letter-spacing: 10px;
  text-align: left;
  margin-bottom: 16px;
}

.productText h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
  text-align: left;
  color: #000000;
  margin-bottom: 32px;
}

.productText h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24.59px;
  letter-spacing: 1.2857142686843872px;
  text-align: left;
  margin-bottom: 47px;
}

.productText p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #000000;
  margin-bottom: 40px;
  opacity: 50%;
}

.seeProduct {
  padding: 15px 30px;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-align: left;
  background-color: #d87d4a;
  text-align: center;
  border: #d87d4a;
  text-transform: uppercase;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  padding-left: 165px;
  padding-right: 165px;
  padding-top: 160px;
  gap: 125px;
  padding-bottom: 160px;
}

.content .features {
  width: 635px;
}

.content .features h2 {
  padding-bottom: 32px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.1428571939468384px;
  text-align: left;
}

.content .features p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  opacity: 50%;
}

.box {
  width: 350px;
  padding-bottom: 63px;
  
}

.box h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.1428571939468384px;
  text-align: left;
 padding-bottom: 32px;
}

.box p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  padding-bottom: 8px;
  opacity: 50%;
}

.box p span {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #d87d4a;
  padding-right: 24px;
}

.gorseller {
  display: flex;
  margin-inline: 165px;
  /* margin-right: 165px; */
  gap: 30px;
}

.gorsel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.seeProduct {
  padding: 15px 30px;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-align: left;
  background-color: #d87d4a;
  text-align: center;
  border: #d87d4a;
  text-transform: uppercase;
  cursor: pointer;
}

.button {
  padding: 15px 20px;
  text-decoration: none;
  background-color: #F1F1F1;
  color: #000000;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-align: center;
  margin-right: 16px;
  
}

.button span {
  padding-inline: 20px;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-align: center;
  color: black;
}

.button span:hover {
  color: #D87D4A;
}

.category {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-top: 64px;
  margin-left: 165px;
  margin-bottom: 160px;
}

.category h2 {
  margin-top: 40px;
  margin-bottom: 32px;
}

.text {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.1428571939468384px;
  text-align: center;
  margin-top: 160px;
}

.products {
  width: 1110px;
  display: flex;
  position: relative;
  gap: 30px;
  margin: 0 auto;
}

.products a:hover {
  color: #d87d4a;
}

.products h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.59px;
  letter-spacing: 1.2857142686843872px;
  margin-bottom: 15px;
}

.products a {
  display: block;
  color: #000000;
  opacity: 50%;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
}

.products a span {
  color: #d87d4a;
}

.products-shop {
  width: 350px;
  text-align: center;
  margin: 120px 10px;
  position: relative;
  background-color: #f1f1f1;
  padding-block: 116px 30px;
  border-radius: 10px;
}

.products-shop img {
  position: absolute;
  top: -86px;
  left: 50%;
  transform: translateX(-50%);
}

.productText a:hover {
  background-color: #fbaf85;
}

.content2 a:hover {
  background-color: #fbaf85;
}

.products {
  width: 1110px;
  display: flex;
  position: relative;
  gap: 30px;
  margin: 0 auto;
}

.products a:hover {
  color: #d87d4a;
}

.gear {
  display: flex;
  align-items: center;
  margin-inline:165px ;
  gap: 125px;
}

.gearText {
  width: 445px;
  padding-right: 125px;
  padding-bottom: 146px;
  padding-top: 147px;
  margin-bottom: 200px;
}

.gearText h2 {
  width: 445px;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 32px;
  padding-top: 147px;
}

.gearText h2 span {
  color: #d87d4a;
}

.gearText p {
  width: 445px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  opacity: 50%;
}

.footer {
  margin: 0 auto;
  background-color: #0e0e0e;
  padding-top: 75px;
  padding-left: 165px;
  padding-right: 165px;
  padding-bottom: 48px;
}

.footer p {
  width: 540px;
  color: #ffffff;
  opacity: 50%;
  padding-bottom: 56px;
}

.footerHero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 36px;
}

.footer a {
  padding-inline: 34px;
  text-decoration: none;
  color: #ffffff;
}

.footer a:hover {
  color: #d87d4a;
}

.footerMenu {
  padding-top: 32px;
  margin-bottom: 36px;
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-right: 20px;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialMedia a:hover {
  background-color: #d87d4a;
}
